################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication3/WebApplication3/Properties/PublishProfiles/test.pubxml
