<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="BeforeBuild">
    <Message Text="###Custom Before Build Tasks Begin######" Importance="high"/>
    <Message Text="#Preparing to remove $(BaseIntermediateOutputPath)" Importance="high"/>
    <RemoveDir Directories="$(BaseIntermediateOutputPath)"></RemoveDir>
    <Error Condition="'$(BaseIntermediateOutputPath)' == '' Or !Exists($(BaseIntermediateOutputPath))" Text="Remove $(BaseIntermediateOutputPath) Task Finished" />
    <Error Condition="Exists($(BaseIntermediateOutputPath))" Text="Remove $(BaseIntermediateOutputPath) Failed" />
    <Message Text="#Preparing to remove $(BaseOutputPath)" Importance="high"/>
    <RemoveDir Directories="$(BaseOutputPath)"></RemoveDir>
    <Error Condition="'$(BaseOutputPath)' == '' Or !Exists($(BaseOutputPath))" Text="Remove $(BaseOutputPath) Task Finished" />
    <Error Condition="Exists($(BaseOutputPath))" Text="Remove $(BaseOutputPath) Failed" />
    <Message Text="###Custom Before Build Tasks End######" Importance="high"/>
  </Target>
  <Target Name="PublishParameters">
    <PropertyGroup>
      <AspnetMergePath>D:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.1 Tools</AspnetMergePath>
      <WDPMergeOption>MergeAllOutputsToASingleAssembly</WDPMergeOption>
      <UseMerge>True</UseMerge>
      <PrecompileBeforePublish>True</PrecompileBeforePublish>
      <EnableUpdateable>False</EnableUpdateable>
      <DebugSymbols>True</DebugSymbols>
      <SingleAssemblyName>Test51545121</SingleAssemblyName>
      <ExcludeApp_Data>False</ExcludeApp_Data>
      <DeleteExistingFiles>True</DeleteExistingFiles>
      <MvcBuildViews>True</MvcBuildViews>
    </PropertyGroup>
  </Target>
</Project>