<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="BeforeBuild">
    <Message Text="###Custom Before Build Tasks Begin######" Importance="high"/>
    <Message Text="#Preparing to remove $(BaseIntermediateOutputPath)" Importance="high"/>
    <RemoveDir Directories="$(BaseIntermediateOutputPath)"></RemoveDir>
    <Message Importance="high" Condition="'$(BaseIntermediateOutputPath)' == '' Or !Exists($(BaseIntermediateOutputPath))" Text="Remove $(BaseIntermediateOutputPath) Task Finished" />
    <Message Importance="high" Condition="Exists($(BaseIntermediateOutputPath))" Text="Remove $(BaseIntermediateOutputPath) Failed" />
    <Message Text="#Preparing to remove $(OutDir)" Importance="high"/>
    <RemoveDir Directories="$(OutDir)"></RemoveDir>
    <Message Importance="high" Condition="'$(OutDir)' == '' Or !Exists($(OutDir))" Text="Remove $(OutDir) Task Finished" />
    <Message Importance="high" Condition="Exists($(OutDir))" Text="Remove $(OutDir) Failed" />
    <Message Text="###Custom Before Build Tasks End######" Importance="high"/>
  </Target>
    <PropertyGroup>
      <AspnetMergePath>D:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.1 Tools</AspnetMergePath>
      <WDPMergeOption>MergeAllOutputsToASingleAssembly</WDPMergeOption>
      <AspnetMergeName></AspnetMergeName>
      <SingleAssemblyName>MergedOutPutAssembly</SingleAssemblyName>
      <UseMerge>True</UseMerge>
      <PrecompileBeforePublish>True</PrecompileBeforePublish>
      <EnableUpdateable>False</EnableUpdateable>
      <DebugSymbols>False</DebugSymbols>
      <ExcludeApp_Data>False</ExcludeApp_Data>
      <DeleteExistingFiles>True</DeleteExistingFiles>
      <MvcBuildViews>True</MvcBuildViews>
      <Verbosity>diag</Verbosity>
      <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
      <LastUsedPlatform>Any CPU</LastUsedPlatform>
      <Log>$(OutDir)\deploy.txt</Log>
    </PropertyGroup>
</Project>